.triangle_button {
    background: none;
    border: none;
    cursor: pointer;
    height: 1rem;
    position: relative;
    border-style: solid;

}
.up{
    height: 0;
    width: 0;
    border-color: transparent transparent rgba(255, 255, 255, 0.3);
    border-width: 0 0.5rem 0.5rem;
    padding: 0.25rem;
}

.number_in_button {
    flex: 1;
    align-items: left;
    display: flex;
    justify-content: left;
    padding: 0.25rem;
}