.main_body{
    font-family: sans-serif;
    /* color is font color */
    color: white; 
    max-width: 9cm;
}

body {
    margin: 0px;
    margin-top: 0.5cm;
    background-color: rgb(31, 31, 31);
}


