.splitgrid-into3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.splitgrid-into2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:flex-end;
    text-align: center;
}

.up-button{
	width: 0;
	height: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid rgb(180, 180, 180);
}
.up-button-invisible{
    width: 0;
	height: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid transparent;
}

.down-button{
    width: 0;
	height: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid rgb(180, 180, 180);
}

.down-button-invisible{
    width: 0;
	height: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid transparent;
}

.up-button:hover{
    transition: 0.4s;
    border-bottom: 50px solid rgb(255, 255, 255);
}

.down-button:hover{
    transition: 0.4s;
    border-top: 50px solid rgb(255, 255, 255);
}

.button-title{
    font-size: medium;
}

.input-display{
    font-size: xx-large;
    margin: 10px;
}
